<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-137871770-1"></script>
    <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-137871770-1');
    </script>    
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/index.html">Home</a></li>
        <li><a href="/about/index.html">About</a></li>
        <li><a href="/cv/index.html">CV</a></li>
        <li><a href="/blog/index.html">Blog</a></li>
        <li><a href="/principles/index.html">Principles</a></li>
        <li><a href="/wine/index.html">Wine</a></li>
      </ul>
    </nav>
    <div class="container">
      {{ content }}
    </div>
    <script type="text/javascript" id="clstr_globe" src="//clustrmaps.com/globe.js?d=y7pO87ZjJarHpQfDNceWR-huzK7iMGmpRdx-UdPxuDo"></script>
    <footer>
      <ul>
        <li><a href="mailto:spacemanidol@gmail.com">email</a></li>
        <li><a href="https://github.com/spacemanidol">github</a></li>
        <li><a href="https://twitter.com/spacemanidol">twitter</a></li>
        <li><a href="https://www.instagram.com/spacemanidol/">instagram</a></li>
        <li><a href="https://www.linkedin.com/in/spacemanidol/">linkedin</a></li>
      </ul>
    </footer>
  </body>
</html>
